summary {
  margin: 5px;
  background: #0e0d0c;

  user-select: none;
  color: var(--yellow-text-color);
}

details > summary {
  list-style: none;
  position: relative;
}

details > summary::-webkit-details-marker,
details > summary::marker {
  display: none;
  content: none;
}

details > summary::after {
  position: absolute;
  color: var(--ticket-border-main-color);
  font-family: none;
  right: calc(5px + 1em);
  content: "◄";
}
details[open] > summary:after {
  content: "▲";
}
