@import url("../node_modules/modern-normalize/modern-normalize.css");
@import url("./styles/borders.css");

body,
#root {
  width: 100vw;
  height: 100vh;

  color: white;
  background-color: #070707;
}

#root {
  display: flex;
  flex-direction: column;
}
