@import url("../node_modules/modern-normalize/modern-normalize.css");
@import url("./styles/ticket.css");

:root {
  /* Base colors */
  --yellow-text-color: #9f8968;

  /* Ticket colors */
  --ticket-border-main-color: #403124;
  --ticket-border-main-fading-color: #2d221a30;
  --ticket-border-dark-color: #251e19;
}

body {
  width: 100vw;
  height: 100vh;

  color: white;
  background-color: #070707;
}

#root {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 1.2rem;
}
