.ticket-border-gradient {
  position: relative;
  border-image: linear-gradient(#2d221a, #2d221a53, #00000000) 1;
  border-style: solid;
  border-width: 2px;
  padding: 1em;
}
.ticket-border-gradient:before {
  content: "";
  position: absolute;
  inset: 2px;
  background: linear-gradient(#2d221a, #2d221a53, #00000000);
  clip-path: polygon(
    0 5px,
    5px 5px,
    5px 0,
    calc(100% - 5px) 0,
    calc(100% - 5px) 5px,
    100% 5px,
    100% calc(100% - 5px),
    calc(100% - 5px) calc(100% - 5px),
    calc(100% - 5px) 100%,
    5px 100%,
    5px calc(100% - 5px),
    0 calc(100% - 5px),
    0 5px,
    2px calc(5px + 2px),
    2px calc(100% - 5px - 2px),
    calc(5px + 2px) calc(100% - 5px - 2px),
    calc(5px + 2px) calc(100% - 2px),
    calc(100% - 5px - 2px) calc(100% - 2px),
    calc(100% - 5px - 2px) calc(100% - 5px - 2px),
    calc(100% - 2px) calc(100% - 5px - 2px),
    calc(100% - 2px) calc(5px + 2px),
    calc(100% - 5px - 2px) calc(5px + 2px),
    calc(100% - 5px - 2px) 2px,
    calc(5px + 2px) 2px,
    calc(5px + 2px) calc(5px + 2px),
    2px calc(5px + 2px)
  );
}